pandas
scikit-learn
kafka-python
requests
qdrant-client
kafka-python-ng
six
xgboost
bayesian-optimization
sentence-transformers
pyiceberg[hive]
tenacity
python-dotenv
psycopg2
psycopg2-binary
prophet
pmdarima
statsmodels
pymc
lifelines
scikit-survival
spark-nlp
numpy
mlflow
hyperopt
PyWavelets
psutil
boto3
awscli
memory-profiler 